@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.logo {
    width: 15%;
}

.logo img {
    width: 50%;
    height: 50%;
}

.disponible {
    color: #08c408;
}

.errorMessage {
    color: #ff0000;
}
